<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(teacher) -%>">
  <span class='title'>
    <%= teacher.name.presence %>
  </span>
  <span class='actions'>
    <%= link_to '',
                refinery.edit_talks_admin_teacher_path(teacher),
                :name => t('.edit'), class: 'edit_icon' %>
    <%= link_to '', refinery.talks_admin_teacher_path(teacher),
                :class => "cancel confirm-delete delete_icon",
                :title => t('.delete'),
                :method => :delete,
                :data => {
                  :confirm => t('message', :scope => 'refinery.admin.delete', :title => teacher.name)
                } %>
  </span>
  
</li>
