<div class="row">
  <div class="col-xs-12 site__hero">
  </div>
</div>
<%= render '/refinery/shared/site_hero', object: @page %>
<%= render '/refinery/shared/second_navigation' %>
<div class="col-xs-12 col-sm-6 col-md-6 content__content">
  <h2><%= @talk.title %></h2>
  <hr/>
  <p class="teacher"><i>by <%= @talk.teacher.name %> on <%= l(@talk.date.to_date, :format => :long) %></i></p>
  <p>
    <% if extension(@talk.file.file_uid).downcase == '.mp3' %>
      <audio controls>
      <%= content_tag :source, '',{ src: absolute_url(@talk), type: 'audio/mpeg' } %>
        Your browser does not support the audio element.
      </audio><br/>
      <%= link_to 'Download Talk', absolute_url(@talk), id: 'talk' %>
    <% else %>
      <%= link_to 'Download Collection', absolute_url(@talk), id: 'talk' %>
    <% end %>
  </p>

  <%=raw @talk.description %>

  <%= render partial: '/shared/share_button', locals: {namespace: :talks, object: @talk} %>
</div>
</div>
