<div class="row">
  <div class="col-xs-12 site__hero">
  </div>
</div>
<%= render '/refinery/shared/site_hero', object: @page %>
<%= render '/refinery/shared/second_navigation' %>
<div class="col-xs-12 col-sm-6 col-md-6 content__content">
  <h2><%= @talk.title %></h2>
  <hr/>
  <p class="teacher"><i>by <%= @talk.teacher.name %> on <%= l(@talk.date.to_date, :format => :long) %></i></p>
  <p>
    <% if extension(@talk.file.file_uid).downcase == '.mp3' %>
      <% if ios_device? %>
        <p>This talk is <a href="itms://itunes.apple.com/us/podcast/aruna-ratanagiri-dhamma-talks/id914576946?mt=2">available in iTunes</a></p>
      <% else %>
        <audio controls>
          <source src="<%= @talk.file.url %>" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio><br/>
        <%= link_to 'Download Talk', @talk.file.url %>
      <% end %>
    <% else %>
      <%= link_to 'Download Collection', @talk.file.url %>
    <% end %>
    
    </p>

  <%=raw @talk.description %>

  <%= render partial: '/shared/share_button', locals: {namespace: :talks, object: @talk} %>
</div>
</div>
