<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(talk) -%>">
  <span class='title'>
    <%= talk.title %>

  </span>
  <span class='actions'>
    
    <%= link_to '', refinery.talks_talk_path(talk),
        :title => t('.view_live_html'),
        :target => "_blank", class: 'preview_icon' %>
    
    <%= link_to '', refinery.edit_talks_admin_talk_path(talk),
         :title => t('.edit'), class: 'edit_icon' %>
    <%= link_to '', refinery.talks_admin_talk_path(talk),
        :class => "cancel confirm-delete delete_icon",
        :title => t('.delete'),
        :data => {:confirm => t('message', :scope => 'refinery.admin.delete', :title => talk.title)},
        :method => :delete %>
  </span>
</li>
